*{
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /* used to make the size of any box like div or section so used border box is the best */
    scroll-behavior: smooth; /* make scrolling more smooth and speed */
}

/* first css of the nav */

header{
	background-color: #f0f0f0;
	width: 100%;
	position: fixed; /* tm make the navgation fixed when we go down of ths slide */
	z-index: 999; /* to make the nav always appear in up */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 200px;

}

/* css of logo */
.logo{
	text-decoration: none;
	color: #3a6cf4;
	text-transform: uppercase; /* to change text into upper case automatic */
	font-weight: 700;
	font-size: 1.8em; /* 1.8 em = 1.8 * 16 = ? px */



}

.navigation a{
	color: #3a6cf4;
	font-size: 1.1em;
	font-weight: 500;
	text-decoration: none;
	padding-left: 30px;

}
.navigation a:hover{
	color: #601cfc;
}

/* css of main page like icons and text */

section{
	padding: 100px 200px;
}

.main{
	width: 100%;
	min-height: 100vh; 
	display: flex;
	align-items: center; /* we canot choose the items in center just after we write dispaly flex */
	background: url(../img/bbb.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed; /* to make the photo no move  */

	

}
.main h2{
	color: #fff;
	font-size: 1.4em;
	font-weight: 500;

}
.main h2 span{
	display: inline-block;
	
	color: #4e9eff;
	font-size: 3em;
	font-weight: 600;

}
.main h3{
	color: #fff;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 30px;
}

.main-btn{
	
	text-decoration: none;
	color: #fff;
	background-color: #3a6cf4;
	border-radius: 10px;
	font-size: 1.1em;
	font-weight: 600;
	display: inline-block;
	padding: 0.9375em;
	letter-spacing: 1px ;
	margin-bottom: 30px;
	transition: 0.7s ease; 


}
.main-btn:hover{
	background-color: #0a49f6;
	transform: scale(1.1);
}

.social-icons a{
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	padding-right: 20px;
	transition: 0.7s;
}

.social-icons a:hover{
	color: red;
	

}


.title{
	display: flex;
	justify-content: center;
	color: #3a6cf4;
	font-size: 2.2em;
	font-weight: 800;
	margin-bottom: 30px;

}
.content{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap; /* to make the cards go down when the screen size get smoll */


}
.card{
	background-color: #fff;
	width: 21.25em;
	box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
	border-radius: 10px;
	padding: 25px;
	margin: 15px;
	transition: 0.7s;

}

.card:hover{
	transform: scale(1.1);
}

.icon{
	color: #3a6cf4;
	font-size: 8em;
	text-align: center;

}

.info{
	text-align: center;
}



.info h3{
	color: #3a6cf4;
	font-size: 1.2em;
	font-weight: 700;
	margin: 10px;
}



/* projects css */ 


.projects{
	background-color: #000016;

}

.projects .content{
	margin-top: 30px;

}

.project-card{
	background-color: #fff;
	border: 1px solid #fff;
	min-height: 14em;
	width: 23em;
	overflow: hidden;
	border-radius: 10px;
	margin: 20px;
	transition: 0.7s ease;


}

.project-card:hover{
	transform: scale(1.1);
}


.project-img img{
	width: 100%;

}
.project-card:hover .project-img{
	opacity: 0.9;
}

.project-info{
	padding: 1em;

}
.project-catagory{
	font-size: 0.8em;
	color: #000;

}
.project-title{
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 10px;
	font-weight: 600;

}

.more-details {
	text-decoration: none;
	color: #3a6cf4;
	font-weight: 600;

}

.more-details:hover{
	color: #601cfc;
}





.contact .icon{
	font-size: 4.5em;

}
.contact .info h3{
	color: #000;
}

/* footer css */

.footer{
	background-color: #000016;
	color: #fff;
	padding: 2em;
	display: flex;
	justify-content: space-between;

}

.footertitle{
	font-size: 1.3em;
	font-weight: 600;

}
.footertitle span{
	color: #3a6cf4;
}

.footer .social-icons a{
	font-size: 1.3em;

}



@media (max-width:1023px){
	header{
		padding: 12px 20px;
	}
	.navigation a{
		padding-left: 10px;
	}
	.title{
		font-size: 1.8em;
	}
	section{
		padding: 80px 20px;
	}
	.main-content h2{
		font-size: 1em;

	}
	.main-content h3{
		font-size: 1.6em;
	}
	.content{
		flex-direction: column;
		align-items: center;

	}
}


@media (max-width:641px){
	body{
		font-size: 12px;
	}

	.main-content h2{
		font-size: 0.8em;
	}
	.main-content h3{
		font-size: 1.4em;
	}

}



@media (max-width:300px){
	body{
		font-size: 10px;
	}
}























